dl.inline-flex {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  width: 100%;
  overflow: visible;
}

dl.inline-flex dt {
  flex: 0 0 50%;
  text-overflow: ellipsis;
  overflow: hidden;
}

dl.inline-flex dd {
  flex:0 0 50%;
  margin-left: auto;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}