tr.row-complete {
  background-color: rgba(245, 156, 0, 0.4)
}

tr.row-complete:hover td {
  background-color: rgba(245, 156, 0, 0.5)
}

tr.row-active {
  background-color: inherit;
}

tr.row-failed {
  background-color: rgba(244, 4, 54, 0.4)
}

tr.row-failed:hover td {
  background-color: rgba(244, 4, 54, 0.5)
}

.table-link {
  color: #1890ff;
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding-bottom: 5px;
}

.table-link::after {
  content: "";
  background-color: #1890ff;
  bottom: 0;
  height: 2px;
  left: 0;
  position: absolute;
  transition: transform 0.3s ease-in;
  transform-origin: 0 50%;
  transform: scaleX(1);
  width: 100%
}

.table-link:hover::after {
  transform: scaleX(0);
}

.process-list {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative
}


.process-list__item {
  margin-right: 20px;
  position: relative;
  text-align: center;
}

.process-list__item:not(:last-of-type)::after {
  content: "";
  background-color: rgb(16, 142, 233);
  height: 5px;
  position: absolute;
  top: 50%;
  transform: translateY(50%);
  width: 100%;
}

.process-list__item-title {
  font-size: 12px;
  text-transform: uppercase;
}

.process-list__item-progress {
  background-color: #fbfbfb;
}

.ant-table-tbody > tr.ant-table-expanded-row:hover> td {
  background-color: inherit!important;
}