.intro {
    padding: $unit-xlarge 0;
    margin-bottom: $unit-large;
}

.wrapper {
    @include make-col-ready();
    @include make-col(12);

    @include media-breakpoint-up(md) {
        @include make-col(12);
    }

    @include media-breakpoint-up(xl) {
        @include make-col(10);
    }

    @include media-breakpoint-up(xxl) {
        @include make-col(9);
    }

    p {
        @include para-large;

        a {
            @include font-roboto-regular;
            display: inline-block;
            position: relative;
            text-decoration: none;

            &::after {
                content: "";
                background-color: blue;
                bottom: 0;
                height: 4px;
                left: 0;
                position: absolute;
                width: 100%;
                transition: all 0.2s ease-in-out;
                transform-origin: 50% 50%;
                transform: scaleX(0);
            }

            &:hover::after {
                transform: scaleX(1);
            }
        }
    }
}
