.scrolltop {
    @include text-hide;
    background-color: $color-black;
    bottom: 100px;
    opacity: 0;
    height: 50px;
    right: 20px;
    transform: scale(0);
    transition: all 0.3s ease;
    position: fixed;
    width: 50px;
    z-index: 100;
    cursor: pointer;

    @include media-breakpoint-up(md) {
        bottom: 100px;
        right: 50px;
        height: 100px;
        width: 100px;
    }

    &.is-visible {
        opacity: 1;
        transform: scale(1);
    }
}